<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <title>화진포</title>
    <!--공통 폰트 및 css-->
    <link rel="stylesheet" href="http://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <link rel="stylesheet" href="https://nurifunding.co.kr/static/fonts/NanumBarunGothic/nanumbarungothic.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">


    <!-- 실서버 -->
    <!-- 
<link rel="stylesheet" href="http://static.sampobeach.co.kr/css/reset.css">
<link rel="stylesheet" href="http://static.sampobeach.co.kr/css/common.css">
<link rel="stylesheet" href="http://static.sampobeach.co.kr/css/totalweb.css">
<link rel="stylesheet" href="http://static.sampobeach.co.kr/css/hwajinpo-lake.co.kr/about/init.css"> 
-->


    <!-- local -->

    <link rel="stylesheet" href="http://sunnyking77.ebiz.test/static/css/tourist/reset.css">
    <link rel="stylesheet" href="http://sunnyking77.ebiz.test/static/css/tourist/common.css">
    <link rel="stylesheet" href="http://sunnyking77.ebiz.test/static/css/tourist/totalweb.css">
    <link rel="stylesheet" href="http://sunnyking77.ebiz.test/static/css/tourist/hwajinpo-lake.co.kr/about/init.css">
    <!-- <link rel="stylesheet" href="../../static/css/intro.css"> -->





    <!--js-->
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>


    <!-- 실서버 -->
    <script src="http://static.sampobeach.co.kr/js/common.js"></script>
    <script src="http://static.sampobeach.co.kr/js/init.js"></script>


    <!-- local -->
    <!-- 
<script src="http://sunnyking77.ebiz.test/static/css/tourist/js/common.js"></script>
<script src="http://sunnyking77.ebiz.test/static/css/tourist/js/init.js"></script>
<script src="http://sunnyking77.ebiz.test/static/css/tourist/js/totalweb.js"></script> 
-->


    <!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->

</head>

<body>
    <div class="wrapper">
        <!--헤더부분-->


        <header class="header">
            <div class="wrap container">
                <h1 class="logo"><a href="../index.html"><img src="http://sunnyking77.ebiz.test/img/tourist/goseong/hwajinpo-lake.co.kr/common/logo.png" alt="화진포 로고"> <span class="skip">화진포</span></a></h1>
                <nav class="gnb">
                    <ul class="menu cf">
                        <li class="item-1"><a href="../about/index.html">화진포 소개</a></li>
                        <li class="item-2"><a href="../event/index.html">축제 이벤트</a></li>
                        <li class="item-4"><a href="../view/index.html">고성 8경</a></li>
                        <li class="item-3"><a href="../waycome/index.html">오시는 길</a></li>
                        <li class="item-4"><a href="../tourist/index.html">주변관광</a></li>
                        <li class="item-5"><a href="../board/memory_list.html">추억게시판</a></li>
                    </ul>
                </nav>
            </div>
        </header>


        <div class="contents">

            <section class="wrap subVisual">
                <div class="mainTxt container">
                    <p class="p-1">고성의 숨어있는 비경</p>
                    <h2><span class="f-bd">화진포</span> 소개</h2>
                    <p class="p-2"><span class="f-bdr txt-upper">HWAJINPO</span></p>
                </div>
            </section>
            <section class="wrap cmStyle about">
                <div class="container">
                    <div class="area area-1">
                        <h3 class="h3-tit">
                            <span class="row-1">백조의 호수를 연상케 하는 석호! <span class="sampo"><span class="f-bd">HWAJINPO</span>
                                </span></span>
                            <span class="row-2"><span class="f-bd">화진포</span>로 초대합니다.</span>
                        </h3>
                        <figure class="full"><img src="http://sunnyking77.ebiz.test/img/tourist/goseong/hwajinpo-lake.co.kr/about/beach_big.jpg" alt="화진포"></figure>
                        <p class='showing'>화진포는 동해와 연접해 자연풍광이 수려하고 면적 72만평에 달하는 광활한 호수 주위에 울창한 송림이 병풍처럼 펼쳐진 국내 최고의 석호입니다. 수만년 동안 조개껍질과 바위가 부서져 만들어진 화진포의 모래는 모나즈성분으로 이중환의 택리지에 한자의 울 ''명''자와 모래''사''자를 써 ''명사''라고 기록되어 있고, 해변은 수심이 얕고, 물이 맑을 뿐만 아니라 금구도(섬)가 절경을 이루어 해수욕장으로 널리 알려져 있습니다. </p>
                        <p class='showing'>겨울에는 천연기념물 제201호인 고니 등 수많은 철새들이 찾아와 장관을 이룹니다. 새하얀 고니떼가 노니는 모습은 ''백조의 호수''를 연상케합니다. 화진포는 오염되지 않은 깨끗한 물과 갈대 숲 속에 풍부한 먹이가 있어 철새들에게 알맞은 휴식처가 됩니다. 주변의 풍광이 빼어난 곳에 화진포의 성(구:김일성 별장)이 있고 이승만 초대대통령별장, 이기붕 부통령의 별장과 세계적 희귀 조개, 산호 물고기 화석 등 1,500여종 4만여점을 전시한 화진포 해양박물관이 있으며 지석묘 등 문화유적이 곳곳에 남아 있다. 잉어, 숭어, 향어, 붕어, 가물치 등 어족자원이 풍부합니다.</p>

                        <figure class="half">
                            <img src="http://sunnyking77.ebiz.test/img/tourist/goseong/hwajinpo-lake.co.kr/about/beach_small_1.jpg" alt="화진포">
                            <img src="http://sunnyking77.ebiz.test/img/tourist/goseong/hwajinpo-lake.co.kr/about/beach_small_2.jpg" alt="화진포">
                        </figure>
                    </div>
                </div>
            </section>
        </div>


        <footer class="footer">
            <div class="wrap container">
                <figure class="logo"><img src="http://sunnyking77.ebiz.test/img/tourist/goseong/hwajinpo-lake.co.kr/common/logo.png" alt="화진포로고"></figure>
                <address>
                    본 사이트는 화진포를 사랑하는 마을 주민회에서 운영하고 있습니다.<br>
                    오시는 길 : 강원 고성군 거진읍 화포리<br>
                    이메일 : help@hwajinpo-lake.co.kr<br>
                    <small>copyright @ hwajinpo-lake.co.kr All right reserved</small>
                </address>
                <nav class="gnb">
                    <ul class="menu cf">
                        <li class="item-1"><a href="../about/index.html">화진포 소개</a></li>
                        <li class="item-2"><a href="../event/index.html">축제 이벤트</a></li>
                        <li class="item-2"><a href="../view/index.html">고성 8경</a></li>
                        <li class="item-3"><a href="../waycome/index.html">오시는 길</a></li>
                        <li class="item-4"><a href="../tourist/index.html">주변관광</a></li>
                        <li class="item-5"><a href="../board/memory_list.html">추억게시판</a></li>
                    </ul>
                </nav>
            </div>
        </footer>

    </div>

</body>

</html>